<div id="facetedSearch 1" class="facetedSearch sidebarBlock">
    {{#any facets visible=true}}
        <div class="filterTitle-block desktoponly">
            <div class="title">Filters</div>
        </div>
        <div class="filterTitle-block mobileonly">
            <div class="title">Open Filters</div>
            <div class="title">Close Filters</div>
        </div>
        <div
            id="facetedSearch-navList"
            class="facetedSearch-navList blocker-container">
            <div class="accordion accordion--navList">
                {{#each facets}}
                    {{#if visible}}
                        {{{dynamicComponent 'components/faceted-search/facets'}}}
                    {{/if}}
                {{/each}}
            </div>

            <div class="blocker" style="display: none;"></div>
        </div>
        <div class="accordion-title sort">
            Sort By
        </div>
        {{> components/products/filter sort=pagination.category.sort}}
    {{/any}}
</div>
