<div>
    <div class="productMainImage">
        <div class="mainImg shave">
            <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_howto.png'}}" alt="Menu How To" title="Menu How To">
        </div>
        <div class="title">Shave</div>
    </div>
    <ul class="productGrid">
        {{#each products as |result key|}}
            {{#each custom_fields}}
                {{#if name '==' 'Shave'}}
                    <li class="product">
                            {{>components/common/custom/card product=result settings=../settings show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
                    </li>
                {{/if}}
            {{/each}}
        {{/each}}
    </ul>
</div>
<div>
    <div class="productMainImage">
        <div class="mainImg body">
            <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_howto.png'}}" alt="Menu How To" title="Menu How To">
        </div>
        <div class="title">Body</div>
    </div>
    <ul class="productGrid">
        {{#each products as |result key|}}
            {{#each custom_fields}}
                {{#if name '==' 'Body'}}
                    <li class="product">
                            {{>components/common/custom/card product=result settings=../settings show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
                    </li>
                {{/if}}
            {{/each}}
        {{/each}}
    </ul>
</div>
<div>
    <div class="productMainImage">
        <div class="mainImg face">
            <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_howto.png'}}" alt="Menu How To" title="Menu How To">
        </div>
        <div class="title">Face</div>
    </div>
    <ul class="productGrid">
        {{#each products as |result key|}}
            {{#each custom_fields}}
                {{#if name '==' 'Face'}}
                    <li class="product">
                            {{>components/common/custom/card product=result settings=../settings show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
                    </li>
                {{/if}}
            {{/each}}
        {{/each}}
    </ul>
</div>
<div>
    <div class="productMainImage">
        <div class="mainImg gifts">
            <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_howto.png'}}" alt="Menu How To" title="Menu How To">
        </div>
        <div class="title">Gifts & Kits</div>
    </div>
    <ul class="productGrid">
        {{#each products as |result key|}}
            {{#each custom_fields}}
                {{#if name '==' 'Gifts & Kits'}}
                    <li class="product">
                            {{>components/common/custom/card product=result settings=../settings show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
                    </li>
                {{/if}}
            {{/each}}
        {{/each}}
    </ul>
</div>
