<header class="header gillette-us blue" role="banner">
    <div class="header-holder">
        <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
        <div class="top-bar-left">
            <ul class="menu vertical medium-horizontal">
                <li>
                    <a href="#" class="transLink {{#if name '==' ../page.title}}active{{/if}}">Get Started</a>
                </li>
                <li>
                    <div class="dropdown1">
                        <button class="dropbtn">
                            Products
                            <div class="space"></div>
                        </button>
                        <div class="dropdown-content">
                            <div class="full">
                                <a href="/products/shave">
                                    <img  class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_shave.png'}}" alt="menu shave"/>
                                    <div class="center-img">
                                        <div>Shave</div>
                                    </div>
                                    <div class="curtain"></div>
                                </a>
                                <a href="/products/face">
                                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_face.png'}}" alt="menu face"/>
                                    <div class="center-img">
                                        <div>Face</div>
                                    </div>
                                    <div class="curtain"></div>
                                </a>
                                <a href="/products/body">
                                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_body.png'}}" alt="menu body"/>
                                    <div class="center-img">
                                        <div>Body</div>
                                    </div>
                                    <div class="curtain"></div>
                                </a>
                                <a href="/products/gifts">
                                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_gifts.png'}}" alt="menu gifts"/>
                                    <div class="center-img">
                                        <div>Gift & Kits</div>
                                    </div>
                                    <div class="curtain"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown1">
                        <button class="dropbtn">
                            Learn
                            <div class="space learn"></div>
                        </button>
                        <div class="dropdown-content">
                            <div class="full">
                                <a href="#">
                                    <img  class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_shave.png'}}" alt="menu shave"/>
                                    <div class="center-img">
                                        <div>How to</div>
                                    </div>
                                    <div class="curtain"></div>
                                </a>
                                <a href="#">
                                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_face.png'}}" alt="menu face"/>
                                    <div class="center-img">
                                        <div>Styling</div>
                                    </div>
                                    <div class="curtain"></div>
                                </a>
                                <a href="#">
                                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_body.png'}}" alt="menu body"/>
                                    <div class="center-img">
                                        <div>Shaving Science</div>
                                    </div>
                                    <div class="curtain"></div>
                                </a>
                                <a href="#">
                                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_gifts.png'}}" alt="menu gifts"/>
                                    <div class="center-img">
                                        <div>Beard & Personal<br/>Care</div>
                                    </div>
                                    <div class="curtain"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown1">
                        <button class="dropbtn">
                            About
                            <div class="space about"></div>
                        </button>
                        <div class="dropdown-content">
                            <div class="full">
                                <a href="#">
                                    <img  class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_shave.png'}}" alt="menu shave"/>
                                    <div class="center-img">
                                        <div>Our Story</div>
                                    </div>
                                    <div class="curtain"></div>
                                </a>
                                <a href="#">
                                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_face.png'}}" alt="menu face"/>
                                    <div class="center-img">
                                        <div>Giving Back</div>
                                    </div>
                                    <div class="curtain"></div>
                                </a>
                                <a href="#">
                                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_body.png'}}" alt="menu body"/>
                                    <div class="center-img">
                                        <div>The Best Man Can Be</div>
                                    </div>
                                    <div class="curtain"></div>
                                </a>
                                <a href="#">
                                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn 'img/gil/menu_gifts.png'}}" alt="menu gifts"/>
                                    <div class="center-img">
                                        <div>FAQ &<br/>Contact Us</div>
                                    </div>
                                    <div class="curtain"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="top-bar-center">
            <a href="/">
                <img alt="Logo" src="{{cdn 'img/icons/logo.svg'}}"/>
            </a>
        </div>
        <div class="top-bar-right">
            <ul class="menu vertical medium-horizontal">
                <li class="accountNav">
                    {{#if customer}}
                        <a class="navUser-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a>
                        <a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                    {{else}}
                        <a class="navUser-action login" href="{{urls.auth.login}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <g fill="none" fill-rule="evenodd">
                                    <path fill-rule="nonzero" d="M0 0h24v24H0z"/>
                                    <path fill="#182F6E" d="M5.722 19.786A10.025 10.025 0 0 0 12 22a9.894 9.894 0 0 0 6.274-2.211A10.003 10.003 0 0 0 11.232 2.03a10 10 0 0 0-5.51 17.756zM12 4.332c3.062-.001 5.856 1.62 7.195 4.173 1.339 2.554.988 5.593-.903 7.826-.492-1.886-3.122-3.328-6.292-3.328-3.172 0-5.8 1.442-6.292 3.329-1.891-2.234-2.241-5.273-.902-7.827C6.145 5.951 8.938 4.331 12 4.332zm.746 7.581a3.249 3.249 0 1 0-1.493-6.324 3.249 3.249 0 0 0 1.493 6.324z"/>
                                </g>
                            </svg>                            
                        </a>
                    {{/if}}
                </li>
                <li class="search">
                    <a class="navUser-action navUser-action--quickSearch" href="javascript:void(0);" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <g fill="none" fill-rule="evenodd">
                                <path d="M0 0h24v24H0z"/>
                                <path fill="#182F6E" d="M16.165 14.377l5.59 5.589c.893.919-.87 2.682-1.79 1.788l-5.588-5.589c-3.08 2.21-7.378 1.888-10.086-.82a7.811 7.811 0 0 1 0-11.054 7.811 7.811 0 0 1 11.054 0c2.708 2.708 3.03 7.005.82 10.086zM5.675 5.676c-2.234 2.26-2.234 5.894 0 8.128 2.262 2.261 5.895 2.261 8.13 0 2.26-2.234 2.26-5.867 0-8.128-2.235-2.235-5.868-2.235-8.13 0z"/>
                            </g>
                        </svg>
                        <div class="space"></div>                     
                    </a>
                </li>
                <li>
                    <a href="/cart.php">
                        <div class="cart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z"/>
                                    <path fill="#182F6E" d="M20.4 16.8H4.8a1.2 1.2 0 0 1-1.2-1.2V2.4H0V0h4.8A1.2 1.2 0 0 1 6 1.2v13.2h13.462l2.334-9.6c1.252 0 1.723.17 1.95.462a1.2 1.2 0 0 1 .218 1.03l-2.4 9.6a1.2 1.2 0 0 1-1.164.908zM3.6 21.6a2.4 2.4 0 1 0 4.8 0 2.4 2.4 0 0 0-4.8 0zm13.2 0a2.4 2.4 0 1 0 4.8 0 2.4 2.4 0 0 0-4.8 0z"/>
                                </g>
                            </svg>                        
                            <span class="quantity">0</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
            {{> components/common/custom/quick-search}}
        </div>
        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/custom/navigation-menu}}
        </div>
    </div>
</header>
