.productView.redesign{
    margin: 80px auto 0;
    max-width: 1180px;
    padding: 0;
    @media screen and (max-width: 800px){
        margin-top: 20px;
    }
    section.productView-details{
        @media screen and (max-width: 800px){
            padding: 0;
        }
        .productView-product{
            border: none;
            padding: 0;
            .productView-brand{
                span{
                    font-family: 'lato_blackregular', 'Arial', sans-serif;
                    font-size: 16px;
                    line-height: 1.19;
                    letter-spacing: normal;
                    color: #808285;
                }
                margin: 0;
                @media screen and (max-width: 800px){
                    padding: 0 30px;
                }
            }
            .productView-rating{
                margin-bottom: 20px;
                .icon{
                    height: 24px;
                    width: 24px;
                    display: inline-block;
                    vertical-align: middle;
                    padding-right: 2px;
                    &:last-child{
                        padding-right: 0;
                    }
                }
                .productView-reviewLink{
                    margin-left: 2px;
                    font-family: 'lato_blackregular', 'Arial', sans-serif;
                    font-size: 16px;
                    line-height: 1.19;
                    letter-spacing: normal;
                    color: #808285;
                    vertical-align: sub;
                }
                &.desktoponly{
                    display: block;
                    @media screen and (max-width: 800px){
                        display: none;
                    }
                }
            }
            .productView-title{
                font-family: 'lato_blackregular', 'Arial', sans-serif;
                font-size: 30px;
                line-height: 1.13;
                letter-spacing: normal;
                color: #282829;
                margin: 0 0 20px 0;
                @media screen and (max-width: 800px){
                    margin: 0 0 10px 0;
                    padding: 0 30px;
                }
            }
            .productView-price{
                display: flex;
                flex-direction: row;
                .price-section--withoutTax {
                    flex: 0 1 60px;
                    span{
                        font-family: 'lato_blackregular', 'Arial', sans-serif;
                        font-size: 24px;
                        line-height: 1.08;
                        letter-spacing: normal;
                        color: #182f6e;
                    }
                }
                .price-section--withoutTax.rrp-price--withoutTax {
                    flex: 0 1 60px;
                    span{
                        font-family: 'lato_blackregular', 'Arial', sans-serif;
                        font-size: 24px;
                        line-height: 1.08;
                        letter-spacing: normal;
                        color: #808285;
                    }                
                }
                &.desktoponly{
                    display: flex;
                    @media screen and (max-width: 800px){
                        display: none;
                    }
                }
                &.mobileonly{
                    @media screen and (min-width: 801px){
                        display: none;
                    }
                    position: fixed;
                    padding: 10px;
                    bottom: 0;
                    width: 100%;
                    margin: 0;
                    background-color: #f9f9f9;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    left: 0;
                    right: 0;
                    z-index: 2;
                    > div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .price{
                        font-family: 'lato_blackregular', 'Arial', sans-serif;
                        font-size: 24px;
                        line-height: 1.08;
                        letter-spacing: normal;
                        color: #182f6e;
                        margin-right: 20px;
                    }
                    .subprice{
                        font-family: 'lato_blackregular', 'Arial', sans-serif;
                        font-size: 24px;
                        line-height: 1.08;
                        letter-spacing: normal;
                        color: #808285;
                        text-decoration: line-through;
                    }
                    a.blue{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #182f6e;
                        padding: 10px 20px;
                        text-decoration: none;
                        span{
                            font-family: 'lato_blackregular', 'Arial', sans-serif;
                            font-size: 18px;
                            line-height: 1;
                            letter-spacing: normal;
                            text-align: center;
                            color: #ffffff;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .productView-rating.mobileonly{
            display: none;
            @media screen and (max-width: 800px){
                display: block;
            }
            padding: 60px 30px 0;
            .icon{
                width: 22px;
                height: 22px;
            }
            .productView-reviewLink{
                margin-left: 2px;
                font-family: 'lato_blackregular', 'Arial', sans-serif;
                font-size: 16px;
                line-height: 1.19;
                letter-spacing: normal;
                color: #808285;
                vertical-align: sub;
            }
        }
        .productView-mobile-images{
            display: block;
            margin-top: 20px;
            @media screen and (min-width: 801px){
                display: none;
            }
            .productView-mobile-thumbnail{
                max-height: 500px;
                @media screen and (max-width: 414px){
                    max-height: 300px;
                }
                &.slick-active{
                    visibility: visible;
                }
                &:not(.slick-active){
                    visibility: hidden;
                }
            }
            .productView-thumbnail-link{
                width: 100%;
                height: 100%;
                max-width: 100%;
                border: none;
                outline: none;
                padding: 0;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    outline: none;
                    @media screen and (max-width: 414px){
                        object-fit: cover;
                    }
                }
            }
            
            ul.slick-dots{
                li{
                    width: 12px;
                    height: 12px;
                    padding: 5px;
                    margin: 0 5px;
                    button{
                        width: 12px;
                        height: 12px;
                        padding: 5px;
                        border: none;
                        background: #d8d8d8;
                        &:before{
                            width: 12px;
                            height: 12px;
                        }
                    }
                    &.slick-active{
                        button:before{
                            background-color: #57cbf5;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
            .slick-prev{
                left: 0;
                background-color: transparent;
                border: none;
                &:before{
                    background-image: url(../img/icons/ic-left.svg);
                    width: 25px;
                    height: 25px;
                }
            }
            .slick-next{
                right: 0;
                background-color: transparent;
                border: none;
                &:before{
                    background-image: url(../img/icons/ic-right.svg);
                    width: 25px;
                    height: 25px;
                }
            }
        }
        .productViewPoint{
            margin-bottom: 50px;
            ul{
                margin: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                max-width: 340px;
                @media screen and (max-width: 800px){
                    display: block;
                }
                li{
                    flex: 0 1 170px;
                    font-family: 'lato_blackregular', 'Arial', sans-serif;
                    font-size: 16px;
                    line-height: 1.19;
                    letter-spacing: normal;
                    color: #182f6e;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    &.blade3:before{
                        content: '';
                        background-image: url('../img/gil/blade3.svg');
                        background-repeat: no-repeat;
                        background-size: 25px;
                        background-position: center;
                        display: block;
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                        border: 1px solid #182f6e;
                        border-radius: 3px;
                    }
                    &.strip:before{
                        content: '';
                        background-image: url('../img/gil/stripe.svg');
                        background-repeat: no-repeat;
                        background-size: 25px;
                        background-position: center;
                        display: block;
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                        border: 1px solid #182f6e;
                        border-radius: 4px;
                    }
                    &.blade5:before{
                        content: '';
                        background-image: url('../img/gil/blade5.svg');
                        background-repeat: no-repeat;
                        background-size: 25px;
                        background-position: center;
                        display: block;
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                        border: 1px solid #182f6e;
                        border-radius: 4px;
                    }
                    &.flex:before{
                        content: '';
                        background-image: url('../img/gil/flexball.svg');
                        background-repeat: no-repeat;
                        background-size: 25px;
                        background-position: center;
                        display: block;
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                        border: 1px solid #182f6e;
                        border-radius: 4px;
                    }
                    &.trim:before{
                        content: '';
                        background-image: url('../img/gil/trimmer.svg');
                        background-repeat: no-repeat;
                        background-size: 25px;
                        background-position: center;
                        display: block;
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                        border: 1px solid #182f6e;
                        border-radius: 4px;
                    }
                    @media screen and (max-width: 800px){
                        &:not(:first-child){
                            margin: 8px 0 0;
                        }
                    }
                }
            }
            &.desktoponly{
                display: block;
                @media screen and (max-width: 800px){
                    display: none;
                }
            }
            &.mobileonly{
                display: none;
                @media screen and (max-width: 800px){
                    display: block;
                    margin-top: 20px;
                    padding: 0 30px;
                }
            }
        }
        .action{
            margin-bottom: 50px;
            a.blue{
                background-color: #182f6e;
                border: 1px solid #182f6e;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                min-height: 50px;
                max-width: 230px;
                width: 100%;
                text-decoration: none;
                span{
                    font-family: 'latobold', 'arial', sans-serif;
                    font-size: 18px;
                    line-height: 1;
                    letter-spacing: normal;
                    text-align: center;
                    color: #ffffff;
                    text-transform: uppercase;
                }
                // &:hover{
                //     background-color: transparent;
                //     span{
                //         color: #182f6e;
                //     }
                // }
            }
            &.desktoponly{
                display: block;
                @media screen and (max-width: 800px){
                    display: none;
                }
            }
        }
        .shipo{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .freeShipping{
            padding: 4px 15px;
            font-size: 20px;
            position: relative;
            background-color: #182f6e;
            height: 25px;
            font-family: 'latobold_italic', 'arial', sans-serif;
            font-size: 13px;
            color: white;
            &:after {
                content: " ";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                background-color: #182f6e;
                transform-origin: bottom left;
                -ms-transform: skew(-30deg, 0deg);
                -webkit-transform: skew(-30deg, 0deg);
                transform: skew(-30deg, 0deg);
            }
            @media screen and (max-width: 800px){
                max-width: 90px;
            }
            &.desktoponly{
                display: block;
                @media screen and (max-width: 800px){
                    display: none;
                }
            }
            &.mobileonly{
                display: none;
                @media screen and (max-width: 800px){
                    display: block;
                    margin: 0 30px;
                    &.none{
                        background-color: transparent;
                        padding: 0;
                        &:after{
                            content: none;
                        }
                    }
                }
            }
        }
        .product-content{
            @media screen and (max-width: 800px){
                padding: 0 30px;
            }
            .acc{
                background-color: #efefef;
                padding: 20px 30px;
                margin-bottom: 50px;
                @media screen and (max-width: 800px){
                    padding: 20px;
                }
                .accordion {
                    background-color: #eee;
                    color: #444;
                    cursor: pointer;
                    width: 100%;
                    text-align: left;
                    border: none;
                    outline: none;
                    transition: 0.4s;
                    font-family: 'lato_blackregular', 'Arial', sans-serif;
                    font-size: 24px;
                    line-height: 1.08;
                    letter-spacing: normal;
                    color: #282829;
                    padding: 0;
                    margin: 0;
                    position: relative;
                    &:after {
                        content: "";
                        background: url('../img/gil/ic-plus.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        right: 0;
                        top: 3px;
                    }
                }
                .active:after {
                    content: "";
                    background: url('../img/gil/ic-close-blue.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    right: 0;
                    top: 3px;
                }
                .panel {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                    p,ul{
                        padding: 15px 0 0;
                        margin: 0;
                        list-style: none;
                    }
                    p,li{
                        font-size: 14px;
                        line-height: 2.3;
                        letter-spacing: normal;
                        color: #282829;
                        margin: 0;
                    }
                }
            }
            .content{
                .title{
                    font-family: 'lato_blackregular', 'Arial', sans-serif;
                    font-size: 24px;
                    line-height: 1.08;
                    letter-spacing: normal;
                    color: #282829;
                    margin-bottom: 15px;
                }
                .text{
                    font-size: 14px;
                    line-height: 1.43;
                    letter-spacing: normal;
                    color: #282829;
                }
            }
        }
    }
    .productView-images{
        display: block;
        @media screen and (max-width: 800px){
            display: none;
        }
        .productView-thumbnails{
            .productView-thumbnail{
                width: 20%;
                .productView-thumbnail-link{
                    border: none;
                    height: 80px;
                    max-width: 80px;
                    img{
                        width: 100%;
                        height: 100%;
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .productView-img-container {
        max-width: 100%;
        &:after{
            padding-bottom: 90%;
        }
        img{
            margin: 0;
            width: 100%;
            height: auto;
        }
    }
    .productView-products{
        &.desktoponly{
            display: block;
            @media screen and (max-width: 800px){
                display: none;
            }
        }
        &.mobileonly{
            display: none;
            @media screen and (max-width: 800px){
                display: block;
                padding: 0 30px;
            }
        }
        .text{
            font-family: 'lato_blackregular', 'Arial', sans-serif;
            font-size: 16px;
            line-height: 1.19;
            letter-spacing: normal;
            color: #282829;
            @media screen and (max-width: 800px){
                margin-bottom: 0;
            }
        }
        .allproducts{
            margin-bottom: 50px;
            > div.desktop{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                > div.relatedImages, > div.prodPrice{
                    margin-top: 20px;
                }
            }
        }
        .relatedImages{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @media screen and (max-width: 800px){
                flex-wrap: wrap;
            }
            img{
                max-width: 80px;
                width: 100%;
                height: 80px;
                object-fit: cover;
                object-position: center;
                @media screen and (max-width: 800px){
                    width: 80px;
                    height: 80px;
                    margin-top: 20px;
                }
                &.plus{
                    width: 20px;
                    height: 20px;
                    margin: 0 10px;
                }
            }
        }
        .prodPrice{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 0 1 220px;
            .price{
                font-size: 24px;
                font-family: 'lato_blackregular', 'Arial', sans-serif;
                line-height: 1.08;
                letter-spacing: normal;
                text-align: center;
                color: #182f6e;
            }
            .add-to-cart{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 20px;
                border: 1px solid #182f6e;
                cursor: pointer;
                span{
                    font-size: 18px;
                    font-family: 'latobold', 'arial', sans-serif;
                    line-height: 1;
                    letter-spacing: normal;
                    text-align: center;
                    color: #182f6e;
                    text-transform: uppercase;
                }
                // &:hover, &:active{
                //     background-color: #182f6e;
                //     span{
                //         color: white;
                //     }
                // }
            }
        }
        .relatedList{
            margin: 20px 0 20px;
            list-style: none;
            li{
                font-size: 14px;
                line-height: 1.43;
                letter-spacing: normal;
                color: #000;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px 0 0 0;
                &:before{
                    content: '';
                    background-image: url('../img/gil/ic-checkbox-on.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    display: block;
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                }
            }
        }
        .productsAdd{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price{
                font-size: 24px;
                font-family: 'lato_blackregular', 'Arial', sans-serif;
                line-height: 1.08;
                letter-spacing: normal;
                color: #182f6e;
            }
            .all-add-cart{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 20px;
                border: 1px solid #182f6e;
                span{
                    font-size: 18px;
                    font-family: 'latobold', 'arial', sans-serif;
                    line-height: 1;
                    letter-spacing: normal;
                    text-align: center;
                    color: #182f6e;
                    text-transform: uppercase;
                }
                // &:hover, &:active{
                //     background-color: #182f6e;
                //     span{
                //         color: white;
                //     }
                // }
            }
        }
    }
}