{{#if items}}
<div class="face-border {{ facet }}">
    <div class="name">{{title}}</div>
    <ul class="face-list {{ facet }}">
    {{#each items}}
        <li class="navList-item">
            <a
                href="{{ url }}"
                class="navList-action navList-action--checkbox {{#if selected }} is-selected {{/if}} {{title}}"
                rel="nofollow"
                data-faceted-search-facet>
                {{ sanitize title }}
            </a>
        </li>
    {{/each}}
    </ul>
</div>
{{/if}}
