{{inject "myProductName" product}}
<div class="productView redesign" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}" data-product-variant="single-product-option"{{/if}}>    
        <section class="productView-details">
            <div class="productView-product">
                {{#if product.brand}}
                <h2 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                    <div {{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></div>
                </h2>
                {{/if}}
                <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
                {{#each product.custom_fields}}
                    {{#if name '==' 'Free Shipping'}}
                        {{#if value '==' 'True'}}
                        <div class="freeShipping mobileonly">
                            <span>Ships FREE</span>                
                        </div>
                        {{else}}
                        <div class="freeShipping mobileonly none">    
                            </div>
                        {{/if}}                      
                    {{/if}}
                {{/each}}
                <section class="productView-mobile-images">
                    {{#each product.images}}
                        <div class="productView-mobile-thumbnail">
                            <div
                                class="productView-thumbnail-link"
                                data-image-gallery-item
                                data-image-gallery-new-image-url="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                                data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
                                <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                            </div>
                        </div>
                    {{/each}}
                </section>
                {{#if product.call_for_price}}
                    <p class="productView-price">
                        <span>{{product.call_for_price}}</span>
                    </p>
                {{/if}}                
                {{#if product.can_purchase}}
                <div class="productView-price desktoponly">
                    {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                        {{> components/products/custom/price price=product.price custom_fields=product.custom_fields schema_org=schema}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                </div>
                {{/if}}
                <div class="productView-price mobileonly">
                    <div>
                        {{#if product.can_purchase}}
                        <div class="price">${{product.price.without_tax.value}}</div>
                        <div class="subprice">${{product.price.rrp_without_tax.value}}</div>
                        {{/if}}
                    </div>
                    {{#if product.can_purchase}}
                        <button class="blue">
                            <span>Add To Cart</span>
                        </button>
                    {{else}}
                        <button class="blue">
                            <span>Shop Online</span>
                        </button>
                    {{/if}}
                </div>
                {{{region name="product_below_price"}}}
                <div class="productView-rating desktoponly"{{#if product.num_reviews '>' 0}}{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}{{/if}}>
                    {{#if settings.show_product_rating}}
                        {{#if product.num_reviews '>' 0}}
                            {{#if schema}}
                                <meta itemprop="ratingValue" content="{{product.rating}}">
                                <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                                <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                            {{/if}}
                        {{/if}}
                        {{> components/products/ratings rating=product.rating}}
                        <div class="productView-reviewLink">
                            {{#if product.num_reviews '>' 0}}
                                {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                            {{else}}
                                (0)
                            {{/if}}
                        </div>
                    {{/if}}
                </div>
                <div class="productViewPoint desktoponly">
                    {{#each product.custom_fields}}
                        {{#if name '==' 'PDP Options'}}
                            {{{value}}}
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="action desktoponly">
                {{#if product.can_purchase}}
                    <button class="blue">
                        <span>Add To Cart</span>
                    </button>
                {{else}}
                    <button class="blue">
                        <span>Shop Online</span>
                    </button>
                {{/if}}
            </div>
            
            {{#if product.related_products}}
                <div class="productView-products desktoponly">
                    <div class="text">Frequently bought together</div>
                    <div class="allproducts">
                        <div class="desktop">
                            <div class="relatedImages">
                                <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage product.main_image 'product_size' (cdn ../theme_settings.default_image_product)}}" alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}">
                                {{#each product.related_products}}
                                    <img class="plus" src="{{cdn 'img/gil/ic-plus.svg'}}" alt="plus"/>
                                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'product_size' (cdn ../theme_settings.default_image_product)}}" alt="{{product.image.alt}}" title="{{product.image.alt}}">
                                {{/each}}
                            </div>
                            <div class="prodPrice">
                                <div class="price">
                                    $22
                                </div>
                                <div class="add-to-cart">
                                    <span>
                                        Add All To Cart
                                    </span>
                                </div>
                            </div>
                        </div>
                        <ul class="relatedList">
                            <li>THIS ITEM: {{product.title}}</li>
                            {{#each product.related_products}}
                            <li>{{name}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/if}}
            {{#if settings.show_product_rating}}
            <div class="productView-rating mobileonly">
                {{> components/products/ratings rating=product.rating}}
                <div class="productView-reviewLink">
                    {{#if product.num_reviews '>' 0}}
                        {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                    {{else}}
                        (0)
                    {{/if}}
                </div>
            </div>
            {{/if}}
            {{#each product.custom_fields}}
                {{#if name '==' 'PDP Options'}}
                    <div class="productViewPoint mobileonly">
                        {{{value}}}
                    </div>
                {{/if}}
            {{/each}}
            {{#if product.related_products}}
                <div class="productView-products mobileonly">
                    <div class="text">Frequently bought together</div>
                    <div class="allproducts">
                        <div class="relatedImages">
                            <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage product.main_image 'product_size' (cdn ../theme_settings.default_image_product)}}" alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}">
                            {{#each product.related_products}}
                                <img class="plus" src="{{cdn 'img/gil/ic-plus.svg'}}" alt="plus"/>
                                <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'product_size' (cdn ../theme_settings.default_image_product)}}" alt="{{product.image.alt}}" title="{{product.image.alt}}">
                            {{/each}}
                        </div>
                        <ul class="relatedList">
                            <li>THIS ITEM: {{product.title}}</li>
                            {{#each product.related_products}}
                            <li>{{name}}</li>
                            {{/each}}
                        </ul>
                        <div class="productsAdd">
                            <div class="price">
                                ${{product.price.sale_price_without_tax.value}}
                            </div>
                            <div class="all-add-cart">
                                <span>
                                    Add All To Cart
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{{product.description}}}
        </section>
    
        <section class="productView-images" data-image-gallery>
            <figure class="productView-image"
                    data-image-gallery-main
                    {{#if product.main_image}}
                    data-zoom-image="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}"
                    {{/if}}
                    >
                <div class="productView-img-container">
                    {{!-- Remove the surrounding a-element if there is no main image. --}}
                    {{#if product.main_image}}
                        <a href="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}">
                    {{/if}}
    
                    <img class="productView-image--default lazyload"
                         data-sizes="auto"
                         src="{{cdn 'img/loading.svg'}}"
                         data-src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}"
                         alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}" data-main-image>
    
                    {{#if product.main_image}}
                        </a>
                    {{/if}}
                </div>
            </figure>
            <ul class="productView-thumbnails"{{#gt product.images.length 5}} data-slick='{
                    "infinite": false,
                    "mobileFirst": true,
                    "slidesToShow": 5,
                    "slidesToScroll": 1
                }'{{/gt}}>
                {{#each product.images}}
                    <li class="productView-thumbnail">
                        <a
                            class="productView-thumbnail-link"
                            href="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                            data-image-gallery-item
                            data-image-gallery-new-image-url="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                            data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
                            <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage this 'productview_thumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                        </a>
                    </li>
                {{/each}}
            </ul>
        </section>
    </div>
    
    <div id="previewModal" class="modal modal--large" data-reveal>
        <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
            <span aria-hidden="true">&#215;</span>
        </a>
        <div class="modal-content"></div>
        <div class="loadingOverlay"></div>
    </div>
    